* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    overflow-x: hidden;
}

.headerMenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 18px;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 0 8px;
}

menu{
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.hamburgerMenu span {
    width: 32px;
    height: 2px;
    background-color: azure;
    display: block;
    margin-bottom: 4px;
    cursor: pointer;
}

header {
    background-color: #192a56;
    padding-top: 16px;
    padding-bottom: 12px;
    color: #fff;
}

nav {
    background-color: rgb(34, 34, 154);
    padding: 16px 0;
    display: none;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

.container {
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.containerFlex{
    display: flex;
    flex-wrap: wrap;
}

.paragrafoSobre{
    max-width: 55%;
    margin: 10px auto;
}

.paragrafoSobre p,
.paragrafoSobre h2 {
    width: 100%;
    justify-content: center;
    text-align: center;
}

section{
    padding: 48px 0;
}

section h2{
    margin-bottom: 16px;
}

#sobre img{
    max-width: 400px;
    margin: 0 auto;
}

.listaVeiculos {
    flex-wrap: wrap;
}

.listaVeiculos h3 {
    margin-bottom: 12px;
}

.listaVeiculos li {
    list-style: none;
    max-width: 30%;
    margin-bottom: 24px;
}

.listaVeiculos img {
    max-width: 100%;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: rgb(7, 109, 7);
    color: azure;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 2px;
}

.price {
    margin: 12px 0;
    display: block;
}

.itemCentral {
    margin: 0 5%;
}

form div label {
    display: block;
    font-weight: bold;
}

form {
    max-width: 452px;
    width: 100%;
}

form div {
    margin-bottom: 10px;
}

form input,
form textarea {
    width: 100%;
    display: block;
    padding: 8px;
}

form button {
    max-width: 210px;
}

form textarea {
    resize: none;
    height: 90px;
}

footer {
    text-align: center;
    background-color: #192a56;
    color: #fff;
    padding:10px 0 ;
}